/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 128px) {
  * {
    font-size: 16px;
  }

  body {
    margin: 0;
  }

  main {
    background-color: #F6F6F6;
    width: 80%;
    margin-left: 10%;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    font-family: "Work Sans", sans-serif;
  }

  .title-section {
    display: flex;
    flex-direction: column;
  }

  .title-section #title {
    font-family: "Playfair Display", serif;
    font-size: 1.6rem;
    text-align: center;
  }

  .title-section #sub-title {
    margin-top: 0;
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
  }

  figure {
    margin: 32px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #img-div {
    background-color: #E7E7E7;
  }

  #img-div #image {
    margin-top: 48px;
    max-width: 80%;
  }

  #img-div #img-caption {
    margin-bottom: 48px;
    margin-top: 8px;
    text-align: center;
    max-width: 80%;
    font-size: 0.6rem;
  }

  #tribute-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
  }

  #tribute-info ul li{
    margin-bottom: 18px;
    font-size: small;
  }

  #tribute-info ul strong {
    font-size: small;
  }

  blockquote {
    text-align: center;
  }

  #more-information, #more-information a {
    margin-top: 64px;
    text-align: center;
    font-size: 0.8rem;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  .title-section #title {
    font-size: 2.2rem;
  }

  .title-section #sub-title {
    margin-top: -10px;
    font-size: 1rem;
  }

  #img-div #img-caption {
    font-size: 0.8rem;
  }

  .contents {
    padding: 0 12%;
  }

  .contents ul {
    text-align: justify;
  }

  .contents h3 {
    font-size: 1.2rem;
  }

  #tribute-info ul li{
    font-size: 1rem;
  }

  #tribute-info ul strong {
    font-size: 1rem;
  }
}
