
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 400px) {
    body {
        margin: 0 4%;
        font-size: 16px;
        background-color: #132C33;
    }

    header {
        margin-top: 64px;
        margin-bottom: 64px;
        text-align: center;
        color: white;
    }
    header #title {
        font-size: 1.8em;
        margin-bottom: 0;
        font-family: 'Montserrat', sans-serif;
    }
    header #description {
        font-size: 0.8em;
        font-family: 'Roboto', monospace;
    }

    section {
        padding: 32px;
        border-radius: 8px;
        margin-bottom: 64px;
        background-color: #D8E3E7;
        font-family: 'Roboto', monospace;
    }
    section .form-group .input-label {
        display: block;
        margin-bottom: 8px;
    }
    section .form-group .form {
        width: 99%;
        padding: 0 0 0 1%;
        height: 32px;
        border: 1px solid #D8E3E7;
        border-radius: 4px;
        margin-bottom: 24px;
    }

    select {
        width: 100% !important;
        padding: 0 0 0 1% !important;
    }

    textarea {
        min-height: 120px;
    }

    .mb {
        margin-bottom: 24px;
    }

    .submit-button {
        min-width: 100% !important;
        background-color: #51C4D3;
        border-radius: 4px;
        border: none;
        height: 32px;
        color: white;
    }

    input[type="radio"], input[type="checkbox"] {
        margin-bottom: 2px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        margin: 0 20%;
    }
    
    header #title {
        font-size: 2em;
    }
    header #description {
        font-size: 1em;
    }
}